<div class="text-center">


<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @task.duedate %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Overdue:</strong>
  <%= @task.overdue? %>
</p>

<p>
  <strong>Files:</strong>
  <% if @task.file.attached? %>
    <%= link_to 'View', @task.file %> |
    <%= link_to 'Download', @task.file, download: '' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>

